<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container" id="bright">
          <%= link_to image_tag("tempLogo.png", alt: "Rails"), '/' %>
          <nav class="navbar navbar-default">
            <ul class="nav nav-justified navbar-nav" id="bright">
              <li class="libutton" id="leftli"><%= link_to "Home",    '#' %></li>
              <li class="libutton"><%= link_to "My Story",    '#' %></li>
              <li class="libutton"><%= link_to "Mental", '#' %></li> 
              <Li class="libutton"><%= link_to "Physical", '#' %></Li>
              <Li class="libutton"><%= link_to "Love Yourself", '#' %></Li>
              <Li class="libutton" id="rightli"><%= link_to "Forgive", '#' %></Li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
